#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1
export DH_OPTIONS=-v

include /usr/share/dpkg/pkg-info.mk
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND = -Wno-error=deprecated-declarations -Wno-error=date-time

%:
	dh $@

.PHONY: override_dh_auto_configure
override_dh_auto_configure:
	dh_auto_configure -- --libexecdir=lib

.PHONY: override_dh_missing
override_dh_missing:
	dh_missing --fail-missing

.PHONY: override_dh_install
override_dh_install:
	if ! dh_install; then \
		tree debian/tmp;    \
    exit 1;             \
	fi

.PHONY: override_dh_fixperms
override_dh_fixperms:
	dh_fixperms
	for file in \
		debian/wb-sway-kiosk/usr/lib/wb-sway/wb-hdmi-audio-setup.sh \
		debian/wb-sway-kiosk/usr/lib/wb-sway/wb-kiosk-prepare-config.sh \
		debian/wb-sway-kiosk/usr/lib/wb-sway/wb-start-squeekboard.sh; do \
		if [ -e "$$file" ]; then chmod 0755 "$$file"; fi; \
	done
